// variables
@dotColor: #fff;
@dotActiveColor: #099fde;
@dotRadius: 0.5rem;

// mixins
.bg-img-center() {
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    background-position: center;
}

// zSlider styles
.z-slide-wrap {
    position: relative;
    display: block;
    height: 180px; // custom as you like
}
.z-slide-content {
    position: relative;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
}
.z-slide-item {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    transform: translate3d(0, 0, 0);

    &>a {
        position: relative;
        display: block;
        width: 100%;
        height: 100%;
        text-decoration: none;

        .bg-img-center();
    }
    img {
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        max-width: 100%;
        max-height: 100%;
        margin: auto;
    }
}
.z-slide-indicator {
    position: absolute;
    bottom: 0.5rem;
    left: 0;
    z-index: 10;
    .z-slide-dot {
        display: block;
        float: left;
        width: @dotRadius * 2;
        height: @dotRadius * 2;
        margin-left: 0.2rem;
        margin-right: 0.2rem;
        border-radius: 50%;
        background-color: @dotColor;

        &.active {
            background-color: @dotActiveColor;
        }
    }
}

// wow, slider styles prefer to use border-box sizing.
// so, if any unespected style problem occurs, try to add styles below
// * {
//     box-sizing: border-box;
// }